<h1>Post page!</h1>

<h2><%= @post.title %></h2>
<h5>By <%= @post.author %></h5>

<p><%= @post.content %></p>

<h4>Comments</h4>
<% @post.comments.each do |comment| %>
<h5>Comment by <%= comment.author %></h5>
<p><%= comment.content %></p>
<% end %>

<h4>Leave a New Comment</h4>
<form action="/posts/<%= @post.id %>/comments" method="POST">
  <%= token_tag %>

  <label>Your Name: <input type="text" name="author"></label>

  <label>Your Comment: <textarea name="content"></textarea></label>
  <input type="submit" value="submit">
</form>

<br>
<%= link_to "Edit This Post", edit_post_path(@post) %>
|
<%= link_to 'Destroy', post_path(@post),
            :confirm => 'Are you sure?', :method => :delete %>
|
<a href="/posts">Back to All Posts</a>